go 1.25

use (
	./alibaba/imagesearch
	./alibaba/oss
	./alibaba/sms
	./config
	./crypto
	./douyin
	./imaging
	./jwt
	./mongo
	./network
	./orm/mysql
	./orm/orm
	./orm/postgres
	./orm/sqlite
	./redis
	./utils
	./wechat/miniprogram
	./wechat/oplatform
	./xfiber
	./xgrpc
	./xlog
)
